@import "tailwindcss";
@import "tailwind-scrollbar-utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --info: #299cdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: 'Inter', sans-serif;
  --color-info: var(--info);
  --color-primary: #1b7b95;
  --color-title: #004f64;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
